body {

   min-height: 1800px; 
}


.sticky_nav_style {

    ;

  

}

.tc_hero {

    width: 100%;
    height: inherit;
    background-size: cover;
    background-image: url('../img/red_road_1.jpeg');


}

